# Environment
NODE_ENV=development

# Port
PORT=5001

# Database URL
DATABASE_URL=mongodb+srv://tanvirhossain20:09082000@car-wash-bs-1.bthuefh.mongodb.net/learnSphere?retryWrites=true&w=majority&appName=LearnSphere

# Bcrypt Salt Rounds
BCRYPT_SALT_ROUNDS=12

# JWT Secrets and Expiry
JWT_ACCESS_SECRET=tanvirhossain20
JWT_ACCESS_EXPIRES_IN=7d
JWT_REFRESH_SECRET=dihanTanvirHossain
JWT_REFRESH_EXPIRES_IN=1y

# Admin Credentials
ADMIN_EMAIL=tanvirh.dihan@gmail.com
ADMIN_PASSWORD=09082000
ADMIN_PROFILE_PHOTO=https://placehold.co/100x100
ADMIN_MOBILE_NUMBER=01700000000

# Cloudinary Credentials
CLOUDINARY_CLOUD_NAME=dyunyevmc
CLOUDINARY_API_KEY=142975748114662
CLOUDINARY_API_SECRET=2MRRWiCCdAwDix_bWwBfhS4Tegw

# Email Configuration
SENDER_EMAIL=tanvirh.dihan@gmail.com
SENDER_APP_PASS=xzvpddzgdqdpzqyw

; AI Model API Key
GEMINI_API_KEY=AIzaSyDnsaOTJ4mRunL53x4NSunJQS_TRMAt5sE
GOOGLE_API_KEY=AIzaSyDnsaOTJ4mRunL53x4NSunJQS_TRMAt5sE

; Vector Database Configuration
ASTRA_DB_NAMASPACE="default_keyspace"
ASTRA_DB_COLLECTION="geminichat"
ASTRA_DB_API_ENDPOINT="https://4f14183c-6ac0-4fba-b7b7-2a1aebbd9954-us-east-2.apps.astra.datastax.com"
ASTRA_DB_APPLICATION_TOKEN="AstraCS:irJZtDemZYpBDkRRZnZlZxRK:06b713ee10bfb826d342ff4f8f0d36f43389b6b692cf79ebc455af75cae466f0"